name: Build Crossplay Plugin

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 9.0.x

    - name: Restore dependencies
      run: dotnet restore Crossplay/Crossplay.csproj

    - name: Build
      run: dotnet build Crossplay/Crossplay.csproj --configuration Release --no-restore

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: Crossplay.dll
        path: Crossplay/bin/Release/net9.0/Crossplay.dll
