name: Build Crossplay Plugin

on:
  push:
    branches: [ "main" ]
    tags:
      - "v*"
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
    - uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 9.0.x

    - name: Restore dependencies
      run: dotnet restore Crossplay/Crossplay.csproj

    - name: Build
      run: dotnet build Crossplay/Crossplay.csproj --configuration Release --no-restore

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: Crossplay.dll
        path: Crossplay/bin/Release/net9.0/Crossplay.dll

    - name: Release
      if: startsWith(github.ref, 'refs/tags/')
      uses: softprops/action-gh-release@v2
      with:
        draft: false
        generate_release_notes: true
        files: Crossplay/bin/Release/net9.0/Crossplay.dll

    - name: Release (Nightly)
      if: github.ref == 'refs/heads/main'
      uses: softprops/action-gh-release@v2
      with:
        tag_name: nightly
        name: Nightly Build
        body: "Latest automatic build from main branch."
        draft: false
        prerelease: true
        files: Crossplay/bin/Release/net9.0/Crossplay.dll
