name: Release

on:
  push:
    tags:
      - "v*"

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 6.0.x

    - name: Build
      run: dotnet build --configuration Release

    - name: Generate Checksum
      run: sha256sum Crossplay/bin/Release/net6.0/Crossplay.dll > Crossplay.dll.sha256

    - name: Create Release
      uses: softprops/action-gh-release@v1
      with:
        files: |
          Crossplay/bin/Release/net6.0/Crossplay.dll
          Crossplay.dll.sha256
        generate_release_notes: true
        draft: false
        prerelease: false